<html>
  <head>
    <title>Long Box</title>
    <link rel="stylesheet" href="/css/home.css" type="text/css" media="screen, projection">
  </head>
  <body>
    Header
    <hr/>
    <%= yield %>
    <hr/>
    Footer
  </body>
</html>
